<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="me.oncereply.jscompressor.compressors" name="Compressors" schema="schema/me.oncereply.jscompressor.compressors.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="me.oncereply.jscompressor.FolderContribution"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="me.oncereply.jscompressor.popup.actions.FolderCompressorAction"
               enablesFor="1"
               id="me.oncereply.jscompressor.CompressorActionDelegate"
               label="Compress Javascript">
         </action>
      </objectContribution>
      <objectContribution
            id="me.oncereply.jscompressor.JavascriptFileContribution"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.js">
         <action
               class="me.oncereply.jscompressor.popup.actions.JavascriptCompressorAction"
               enablesFor="1"
               id="me.oncereply.jscompressor.CompressorActionDelegate"
               label="Compress Javascript">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="me.oncereply.jscompressor.CSSFileContribution"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.css">
         <action
               class="me.oncereply.jscompressor.popup.actions.CSSCompressorAction"
               id="me.oncereply.jscompressor.CompressorActionDelegate"
               label="Compress CSS">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="me.oncereply.jscompressor.preferences.CompressorPreferencePage"
            id="me.oncereply.jscompressor.preferences.CompressorPreferencePage"
            name="JsCompressor">
      </page>
      <page
            category="me.oncereply.jscompressor.preferences.CompressorPreferencePage"
            class="me.oncereply.jscompressor.preferences.YUICompressorPreferencePage"
            id="me.oncereply.jscompressor.preferences.YUICompressorPreferencePage"
            name="YUI Compressor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="me.oncereply.jscompressor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="me.oncereply.jscompressor.compressors">
      <compressor
            class="me.oncereply.jscompressor.core.YUICompressor"
            id="me.oncereply.jscompressor.core.YUICompressor"
            name="YUI Compressor">
      </compressor>
   </extension>

</plugin>
